@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f0f0f0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.slick-next {
  z-index: 9999;
  margin-right: 2rem;  
}
.slick-prev {
  z-index: 9999;
  margin-left: 2rem;
}


.slider1{
  background-image: url(/src/assets/images/img1.jpg);
  background-size: cover;
  height: 85vh;
}
.slider2{
  background-image: url(/src/assets/images/img2.jpg);
  background-size: cover;
  height: 85vh;
}
.slider3{
  background-image: url(/src/assets/images/img3.jpg);
  background-size: cover;
  height: 85vh;
}
.slider4{
  background-image: url(/src/assets/images/img4.jpg);
  background-size: cover;
  height: 85vh;
}

.content1 {
  background-image: url(/src/assets/images/img1.jpg);
  background-size: cover;
  height: 85vh;
}

.content1-label{
  display: flex;
  flex-basis: 100%;
  align-items: center;
  margin: 8px 0px;
}

.content1-label::after{
  content: "";
  flex-grow: 1;
  background: white;
  height: 3px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 16px;
}