@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f0f0f0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* start slide */
.slick-next {
  display: none;
  z-index: 9999;
  margin-right: 2rem;  
  width: 50px !important;
  height: 50px !important;
}
.slick-arrow > polyline{
  display: none;
  stroke: white;
}
.slick-prev {
  display: none;
  z-index: 9999;
  margin-left: 2rem;
  width: 50px !important;
  height: 50px !important;
}
.slick-dots{
  bottom: 2rem !important;
}
.slick-dots li button:before{
  color: white !important;
  opacity: 0.3 !important;
}
.slick-dots li.slick-active button:before{
  opacity: 1 !important;
}

.slider1{
  /* background-image: url(/src/assets/images/img1.jpg); */
  background-color: gray;
  background-size: cover;
}

.slider2{
  /* background-image: url(/src/assets/images/img2.jpg); */
  background-color: gray;
  background-size: cover;
}
.slider3{
  /* background-image: url(/src/assets/images/exercise-free-weights.jpg); */
  background-color: gray;
  background-size: cover;
}
.slider4{
  /* background-image: url(/src/assets/images/img4.jpg); */
  background-color: gray;
  background-size: cover;
}
.slider5{
  /* background-image: url(/src/assets/images/img4.jpg); */
  background-color: gray;
  background-size: cover;
}
.slider6{
  /* background-image: url(/src/assets/images/img4.jpg); */
  background-color: gray;
  background-size: cover;
}
/*end slide */

.css-12pg3nc-control{
  border: none !important;
}
.basic-menu > div > div > div > div > div > div > div{
  color: white !important
}
.white-menu > div > div > div > div > div > div > #react-select-3-placeholder{
  color: black !important
}
.white-menu > div > div > div > div > div > div > div > svg{
  fill: black !important
}
.place-select > div {
  border: none !important;
}
.css-1okebmr-indicatorSeparator{
  background: none !important;
}
.css-tj5bde-Svg{
  fill: white !important 
}
.map-place-select > div > div > div > svg{
  fill: black !important;
}
.content1 {
  background-image: url(/src/assets/images/img1.jpg);
  background-size: cover;
  height: 85vh;
}

.content1-label{
  display: flex;
  flex-basis: 100%;
  align-items: center;
  margin: 8px 0px;
}

.content1-label::after{
  content: "";
  flex-grow: 1;
  background: white;
  height: 3px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 16px;
}

/* map */
.gmnoprint{
  display: none;
}
